{% extends 'base.html' %}

{% block header %}
  <h1>Sports</h1>
  <form action="{{ url_for('index') }}" method="get" style="display:inline;">
    <button type="submit" class="btn btn-primary">Regresar</button>
  </form>
{% endblock %}

{% block content %}
  <div class="category-container">
    {% for post in posts %}
      {% if post['link'] %}
        <a href="{{ post['link'] }}" class="card fmf-card">
      {% else %}
        <div class="card fmf-card">
      {% endif %}
        <header>
          <div>
            <h1>{{ post['title'] }}</h1>
          </div>
        </header>
        <p class="date">{{ post['date'] }}</p>
        <p class="body">{{ post['description'] }}</p>
      {% if post['link'] %}
        </a>
      {% else %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endblock %}