{% extends 'base.html' %}

{% block header %}
  <h1>Gundam</h1>
  <form action="{{ url_for('index') }}" method="get" style="display:inline;">
    <button type="submit" class="btn btn-primary">Regresar</button>
  </form>
{% endblock %}

{% block content %}
  <div class="category-container">
    {% for post in posts %}
      <div class="card gundam-card">
        <header>
          <div>
            <h1>{{ post['title'] }}</h1>
          </div>
        </header>
      </div>
    {% endfor %}
  </div>
{% endblock %}