{% extends 'base.html' %}

{% block header %}
<h1> {% block title %}Página Principal{% endblock %}</h1>
<a href="dba">DBA</a> <p>/</p> 
<a href="fmf">FMF</a><p>/</p>
<a href="gundam">Gundam</a>
{% endblock %}


{% block content %}
  <h3>{{titles[0]}}</h3>
  {% for post in dba %}
    <article class="post">
      <header>
        <div>
          <h1>{{ post['event'] }}</h1>
        </div>
      </header>
      <p class="event">{{ post['event'] }}</p>
      <p class="body">{{ post['direction'] }}</p>
      <a class="link" href="{{ post['url'] }}">Link</a>
    </article>
  {% endfor %}
  <h3>{{titles[1]}}</h3>
  {% for post in fmf %}
    <article class="post">
      <header>
        <div>
          <h1>{{ post['title'] }}</h1>
        </div>
      </header>
      <p class="date">{{ post['date'] }}</p>
      <p class="body">{{ post['description'] }}</p>
      <a class="link" href="{{ post['link'] }}">Link</a>
    </article>
  {% endfor %}
  <h3>{{titles[2]}}</h3>
  {% for post in gundam %}
    <article class="post">
      <header>
        <div>
          <h1>{{ post['title'] }}</h1>
        </div>
      </header>
    </article>
  {% endfor %}
{% endblock %}
